.mappedcard {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* display: flex;
  flex-wrap: wrap; */
}
/* .card__ {
  margin-top: 30px;
} */

@media screen and (max-width: 1400px) {
  .mappedcard {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .mappedcard {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 590px) {
  .mappedcard {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
